* {
  font-family: 'Roboto', sans-serif;
}
  
html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar {
  background: #3c3c3c;
}

.jumbotron {
  font-family: 'Noto Serif KR', sans-serif;
  background: #d8d8d8;
}

.form {
  margin: auto;
  width: 100%;
  align-content: center;
}

.form-control {
  margin: 0px 0 10px 0;
}

.results {
  margin: auto;
  width: 100%;
  padding: 75px 0 25px 0;
}

.saved {
  margin: auto;
  width: 100%;
  padding: 75px 0 25px 0;
}

.footer {
    margin: auto auto 0 auto;
    text-align: center;
    background-color: #3c3c3c;
    color: #fff;
    padding: 20px;
  }
  
.footer a {
    color:#fff;
  }